<h1>About edit page</h1>

<%= form_for 	@about do |f| %>
	<%= f.label :first_name%><br />
	<%= f.text_field :first_name%>
	<br>
	<%= f.label :last_name%><br />
	<%= f.text_field :last_name%>
	<br>
	<%= f.label :email%><br />
	<%= f.email_field :email %>
	<br>
	<%= f.label :address%><br />
	<%= f.text_field :address %>
	<br>
	<%= f.label :description%><br />
	<%= f.text_area :description %>
	<br>
	<%= f.submit 'update'%>
<%end%>	